127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4 {{ inventory_hostname }} {{ inventory_hostname_short }}
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6 {{ inventory_hostname }} {{ inventory_hostname_short }}
{{ ansible_default_ipv4.address }}   {{ inventory_hostname }} {{ inventory_hostname_short }}

{# Resolve somename.example.com locally for hosts in <group>
{% if '<group>' in group_names %}
{{ ansible_default_ipv4.address }} somename.example.com
{% endif %}
#}
