127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6
{{ host_ipv4 }}   {{ inventory_hostname }} {{ inventory_hostname.split('.')[0] }}

{# Resolve somename.example.com locally for hosts in <group>
{% if '<group>' in group_names %}
{{ host_ipv4 }} somename.example.com
{% endif %}
#}