## This aliases file is dedicated to Sympa Mailing List Manager global aliases
## List aliases are defined is a separate sympa_list_aliases file

sympa: "| {{ sympa_install_prefix }}/bin/queue sympa@{{ sympa_mail_hostname }}"
listmaster: "| {{ sympa_install_prefix }}/bin/queue listmaster@{{ sympa_mail_hostname }}"
bounce+*: "| {{ sympa_install_prefix }}/bin/bouncequeue sympa@{{ sympa_mail_hostname }}"
bounce: "| {{ sympa_install_prefix }}/bin/bouncequeue sympa@{{ sympa_mail_hostname }}"
abuse-feedback-report: "| {{ sympa_install_prefix }}/bin/bouncequeue sympa@{{ sympa_mail_hostname }}"
sympa-request: listmaster@{{ sympa_mail_hostname }}
sympa-owner: listmaster@{{ sympa_mail_hostname }}

