# Conf for sympa log files rotation
/var/log/sympa {
       missingok
	   weekly
       notifempty
       rotate 52
       compress
       delaycompress
	   copytruncate
	   create 640 root adm
       postrotate
               invoke-rc.d --quiet sympa reload > /dev/null
               invoke-rc.d --quiet rsyslog reload > /dev/null || true
       endscript
}