  DocumentRoot "/var/www/html/"
  
  Alias /static-sympa {{ install_prefix }}/{{ sympa.install_dir_name }}/static_content

  Redirect 302 /sympa/sso_login/groupware/init /Shibboleth.sso/Login?target=/sympa/sso_login/groupware
  
  <Location /static-sympa>
    Require all granted
  </Location>

  <Location /sympa>
    SetHandler fcgid-script
    Require all granted
  </Location>
  
  <Location /sympasoap>
    SetHandler fcgid-script
    Require all granted
  </Location>
  
  ScriptAlias /sympa {{ install_prefix }}/{{ sympa.install_dir_name }}/bin/wwsympa-wrapper.fcgi
  ScriptAlias /sympasoap {{ install_prefix }}/{{ sympa.install_dir_name }}/bin/sympa_soap_server-wrapper.fcgi
