  DocumentRoot "/var/www/html/"
  
  Alias /static-sympa {{ install_prefix }}/{{ sympa.install_dir_name }}/static_content

  Redirect 302 /sympa/sso_login/groupware/init /Shibboleth.sso/Login?target=/sympa/sso_login/groupware
  
  <Location /static-sympa>
    Require all granted
  </Location>

  <Location /sympa>
    SetHandler "proxy:unix:/var/run/wwsympa/wwsympa.socket|fcgi://localhost"
    Require all granted
  </Location>

  <Location /sympasoap>
    SetHandler "proxy:unix:/var/run/sympasoap/sympasoap.socket|fcgi://localhost"
    Require all granted
  </Location>
