## configuration for virtual robot {{ robot.web.domain }}

wwsympa_url     https://{{ robot.web.domain }}/sympa
soap_url	      https://{{ robot.web.domain }}/sympasoap
cookie_domain   {{ robot.web.domain }}
listmaster      {{ robot.admins | join(',') }}
create_list     {{ robot.config.create_list }}
default_home    home
title           {{ robot.config.title }}
{% for n in range(0,16) %}
{% if 'color_' + n | string in robot.config %}
color_{{ n }} {{ robot.config.get('color_' + n | string) }}
{% endif %}
{% endfor %}
lang        {{ robot.config.language }}
